<% if current_user  %>

  <%= form_for(@medi_session) do |f| %>
    <% if @medi_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@medi_session.errors.count, "error") %> prohibited this medi_session from being saved:</h2>

        <ul>
        <% @medi_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :private %><br>
      <%= f.check_box :private %>
    </div>
    <div class="field">
      <%= f.label :time_start %><br>
      <%= f.datetime_select :time_start %>
    </div>
    <div class="field">
      <%= f.label :time_end %><br>
      <%= f.datetime_select :time_end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <% else %>

    <div> Please login! </div>

  <% end %>
